
    <div container-fluid>
    <div class="row justify-content-around">
            <div class="col-4 block">
                    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModal">Add to Vault</button>
            </div>
            <div class="col-4 block">
                   <a href="/secret"><button class="btn btn-primary btn-lg btn-block" id="showVault">View Vault</button></a>
            </div>
    </div>
    <div class="block " id="stmt">
            <h4>In a time where compromises are everywhere and other kingdoms threaten your existence. Shield yourself by using better password techniques.</h4>
            <ul>
                    <li class="text-success animated fadeInLeft">
                            Longer passwords are better. An 8-character password can be cracked in about 5 hours whereas a 10-character password takes about 4 months. 
                    </li>
                    <li class="text-primary animated fadeInRight">
                            Avoid using birthdays or family members names as they could be harvested from social media accounts. 
                    </li>
                    <li class="text-success animated fadeInLeft">
                            Consider using multiple words to create a longer, more memorable passphrase. 
                    </li>
                    <li class="text-primary animated fadeInRight">
                            Use different passwords for each login. Don't repeat passwords especially in financial applications. 
                    </li>
                        <li class="text-success animated fadeInLeft">
                            Use multifactor authentication where available. 
                    </li>
            </ul>
    </div>
    </div>
    

    <footer class="bg-primary navbar-dark">
      <h1>Defend Yourself<br><i class="fas fa-shield-alt"></i></h1>
  </footer>