
    <div container-fluid>
    <div class="row justify-content-around">
            <div class="col-4">
                    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModal">Add to Vault</button>
            </div>
            <div class="col-4">
                   <a href="/secret"><button class="btn btn-primary btn-lg btn-block" id="showVault">View Vault</button></a>
            </div>
    </div>
    </div>