
    <div container-fluid>
    <div class="row justify-content-around">
            <div class="col-4 block">
                    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModal">Add to Vault</button>
            </div>
            <div class="col-4 block">
                   <a href="/secret"><button class="btn btn-primary btn-lg btn-block" id="showVault">View Vault</button></a>
            </div>
    </div>
    <div class="block animated bounceInUp" id="stmt">
            <p>In a time where compromises are everywhere and other kingdoms threaten your existence. Shield yourself by using better password techniques.</p>
            <ul>
                    <li>
                            Longer passwords are better. 
                    </li>
            </ul>
    </div>
    </div>
    